Repository nicolauscg/moodah-pos: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test frontend, test backend, release dev frontend, release stag frontend, release prod frontend, deploy dev backend, deploy stag backend, deploy prod backend, update dev backend functions, update stag backend functions, update prod backend functions

test frontend:
  image: node:10.16.3-alpine
  stage: test
  script:
  - cd frontend
  - npm install
  - npm run gql-gen
  - npm run test -- --coverage
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/

test backend:
  image: node:10.16.3-alpine
  stage: test
  script:
  - cd backend
  - npm install
  - npm run lint
  - npm run test -- --coverage
  coverage: /All files[^|]*\|[^|]*\s+([\d\.]+)/

release dev frontend:
  image: docker:19.03.0
  stage: release
  tags:
  - docker
  services:
  - name: docker:19.03.0-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  before_script:
  ...

release stag frontend:
  image: docker:19.03.0
  stage: release
  tags:
  - docker
  services:
  - name: docker:19.03.0-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  before_script:
  ...

release prod frontend:
  image: docker:19.03.0
  stage: release
  tags:
  - docker
  services:
  - name: docker:19.03.0-dind
    entrypoint:
    - env
    - -u
    - DOCKER_HOST
    command:
    - dockerd-entrypoint.sh
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_DRIVER: overlay2
    DOCKER_TLS_CERTDIR: ''
  before_script:
  ...

deploy dev backend:
  image: node:10.16.3-alpine
  stage: release
  variables:
    STAGE: dev
  script:
  - cd backend
  - npm install
  - npm install -g serverless
  - serverless deploy --stage $STAGE --verbose
  environment:
    name: development

deploy stag backend:
  image: node:10.16.3-alpine
  stage: release
  variables:
    STAGE: stag
  script:
  - cd backend
  - npm install
  - npm install -g serverless
  - serverless deploy --stage $STAGE --verbose
  environment:
    name: staging

deploy prod backend:
  image: node:10.16.3-alpine
  stage: release
  variables:
    STAGE: prod
  script:
  - cd backend
  - npm install
  - npm install -g serverless
  - serverless deploy --stage $STAGE --verbose
  environment:
    name: production

update dev backend functions:
  image: node:10.16.3-alpine
  stage: release
  variables:
    STAGE: dev
  script:
  - cd backend
  - npm install
  - npm install -g serverless
  - serverless deploy function --function graphql --stage $STAGE --verbose
  - serverless deploy function --function playground --stage $STAGE --verbose
  ...

update stag backend functions:
  image: node:10.16.3-alpine
  stage: release
  variables:
    STAGE: stag
  script:
  - cd backend
  - npm install
  - npm install -g serverless
  - serverless deploy function --function graphql --stage $STAGE --verbose
  - serverless deploy function --function playground --stage $STAGE --verbose
  ...

add serverless dep
  backend/package-lock.json
  backend/package.json
Due: test backend, update dev backend functions, update stag backend functions, update prod backend functions

Nicolaus/backend fixes
  backend/src/graphql/schemas/posCategory/fields.ts
  backend/src/graphql/schemas/posCategory/query.ts
  backend/src/graphql/schemas/posCategory/types/posCategory.ts
  backend/src/graphql/schemas/posConfig/types/posConfig.ts
  backend/src/graphql/schemas/posProduct/query.ts
  backend/src/graphql/schemas/utility/filterAndPaginate.ts
Due: test backend, update dev backend functions, update stag backend functions, update prod backend functions

fix typo on pos category detail
  frontend/src/containers/product_category/components/ProductCategoryForm.jsx
Due: test frontend, release dev frontend, release stag frontend, release prod frontend

[CHORES] fix create pos category frontend
  frontend/src/containers/product_category/components/ProductCategoryForm.jsx
Due: test frontend, release dev frontend, release stag frontend, release prod frontend

US-8 manage pos product backend to staging
  backend/src/graphql/schemas/index.ts
  backend/src/graphql/schemas/posProduct/fields.ts
  backend/src/graphql/schemas/posProduct/filter.ts
  backend/src/graphql/schemas/posProduct/index.ts
  backend/src/graphql/schemas/posProduct/mutation.ts
  backend/src/graphql/schemas/posProduct/query.ts
  backend/src/graphql/schemas/posProduct/types/category.ts
  backend/src/graphql/schemas/posProduct/types/createOrUpdatePosProductInput.ts
  backend/src/graphql/schemas/posProduct/types/createPosProduct.ts
  backend/src/graphql/schemas/posProduct/types/posProduct.ts
  backend/src/graphql/schemas/posProduct/types/productType.ts
  backend/src/graphql/schemas/posProduct/types/updateOrDeletePosProduct.ts
  backend/tests/integration/__tests__/posProduct.ts
  backend/tests/integration/graphqls/posProduct.ts
Due: test backend, update dev backend functions, update stag backend functions, update prod backend functions

refactor project structure to staging
  .gitlab-ci.yml
  backend/.eslintrc.js
  backend/src/graphql/schemas/posCategory/mutation.ts
  backend/src/graphql/schemas/posCategory/query.ts
  backend/src/graphql/schemas/posCategory/types/CreatePosCategory.ts
  backend/src/graphql/schemas/posCategory/types/createOrUpdatePosCategoryInput.ts
  backend/src/graphql/schemas/posCategory/types/posCategory.ts
  backend/src/graphql/schemas/posConfig/mutation.ts
  backend/src/graphql/schemas/posConfig/query.ts
  backend/src/graphql/schemas/posConfig/types/availablePriceList.ts
  backend/src/graphql/schemas/posConfig/types/createOrUpdatePosConfigInput.ts
  backend/src/graphql/schemas/posConfig/types/createPosConfig.ts
  backend/src/graphql/schemas/posConfig/types/discountProduct.ts
  backend/src/graphql/schemas/posConfig/types/operationType.ts
  backend/src/graphql/schemas/posConfig/types/paymentMethod.ts
  backend/src/graphql/schemas/posConfig/types/stockLocation.ts
  backend/src/graphql/schemas/posConfig/types/stockLocationOperation.ts
  backend/src/graphql/schemas/utility/types/globalIdInput.ts
  backend/tests/integration/__tests__/posCategory.ts
  backend/tests/integration/__tests__/posConfig.ts
  backend/tests/integration/graphqls/posCategory.ts
  backend/tests/integration/graphqls/posConfig.ts
Due: test frontend, test backend, release dev frontend, release stag frontend, release prod frontend, update dev backend functions, update stag backend functions, update prod backend functions

Sprint 3 us 1 and 2 manage pos and category to staging
  .gitignore
  backend/package.json
  frontend/package.json
  frontend/public/img/pos/categoryPlaceholder.svg
  frontend/src/containers/_app/Router.jsx
  frontend/src/containers/configuration/CreateConfiguration.jsx
  frontend/src/containers/configuration/components/ConfigurationForm.jsx
  frontend/src/containers/configuration/index.jsx
  frontend/src/containers/product_category/CreateProductCategory.jsx
  frontend/src/containers/product_category/EditProductCategory.jsx
  frontend/src/containers/product_category/components/ProductCategoryForm.jsx
  frontend/src/containers/product_category/components/ProductCategoryTable.jsx
  frontend/src/containers/product_category/index.jsx
  frontend/src/graphqls/pos/configuration.graphql
  frontend/src/graphqls/pos/productCategory.graphql
  frontend/src/scss/app.scss
  frontend/src/shared/components/DataTable.jsx
  frontend/src/shared/components/form-custom/CustomizedRadios.jsx
  frontend/src/shared/components/form-custom/FormInput2.jsx
  frontend/src/shared/components/form-custom/ImageField.jsx
  frontend/src/utils/transformers/productcategory.tsx
Due: test frontend, test backend, release dev frontend, release stag frontend, release prod frontend, update dev backend functions, update stag backend functions, update prod backend functions

US 2 configure pos product category
  backend/src/graphql/schema.ts
  backend/src/graphql/schemas/CreatePosCategory.ts
  backend/src/graphql/schemas/createOrUpdatePosCategoryInput.ts
  backend/src/graphql/schemas/posCategory.ts
  backend/src/graphql/schemas/updateOrDeletePosCategory.ts
  backend/tests/__tests__/integration.ts
  backend/tests/integration/__tests__/posCategoryTests.ts
  frontend/src/containers/_app/Router.jsx
  frontend/src/containers/_layout/sidebar/SidebarContent.jsx
  frontend/src/containers/_layout/sidebar/menu.js
  frontend/src/containers/product_category/components/ProductCategoryTable.jsx
  frontend/src/containers/product_category/index.jsx
  frontend/src/utils/transformers/productcategory.tsx
Due: test frontend, test backend, release dev frontend, release stag frontend, release prod frontend, update dev backend functions, update stag backend functions, update prod backend functions

change title, add link to medium
  README.md
Due: none

Path conditions:
  test frontend: any of: frontend/**/*, .gitlab-ci.yml
  test backend: any of: backend/**/*, .gitlab-ci.yml
  release dev frontend: any of: frontend/**/*, .gitlab-ci.yml
  release stag frontend: any of: frontend/**/*, .gitlab-ci.yml
  release prod frontend: any of: frontend/**/*, .gitlab-ci.yml
  deploy dev backend: any of: backend/serverless.yml
  deploy stag backend: any of: backend/serverless.yml
  deploy prod backend: any of: backend/serverless.yml
  update dev backend functions: any of: backend/**/*, .gitlab-ci.yml
  update stag backend functions: any of: backend/**/*, .gitlab-ci.yml
  update prod backend functions: any of: backend/**/*, .gitlab-ci.yml
